# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/

# Django
db.sqlite3
media/

# Environment variables
.env

# VS Code
.vscode/

# JetBrains IDEs
.idea/

# Windows
Thumbs.db

# Logs
*.log

# Python cache
.pytest_cache/

#json files
datadump_utf8.json
datadump.json
 
#db.sqlite3 backup
db.sqlite3.backup

#conversion file
fix_encoding.py
